// breakpoints

$S: 320px;
$M: 600px;
$L: 1000px;
$LM: 1199.98px;
$tablet: 991px;
$MidMobile: 767px;
$Mobile: 575px;

// media queries

@mixin MQ($canvas) {
  @if $canvas ==S {
    @media only screen and (min-width: $S) {
      @content;
    }
  }

  @else if $canvas ==M {
    @media only screen and (min-width: $M) {
      @content;
    }
  }

  @else if $canvas ==L {
    @media only screen and (min-width: $L) {
      @content;
    }
  }

  @else if $canvas ==LM {
    @media only screen and (max-width: $LM) {
      @content;
    }
  }

  @else if $canvas ==tablet {
    @media only screen and (max-width: $tablet) {
      @content;
    }
  }

  @else if $canvas ==MidMobile {
    @media only screen and (max-width: $MidMobile) {
      @content;
    }
  }

  @else if $canvas ==Mobile {
    @media only screen and (max-width: $Mobile) {
      @content;
    }
  }
}