// center vertically and/or horizontally an absolute positioned element

@mixin center($xy: xy) {
  @if $xy ==xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
  }

  @else if $xy ==x {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }

  @else if $xy ==y {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}

@mixin media-wlg {
  @media (min-width: 1900px) {
    @content;
  }
}


@function get-vw-wlg($target) {
  $vw-context: (
    1601 *.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function get-vw-wmd($target) {
  $vw-context: (
    768 *.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function get-vw-wsm($target) {
  $vw-context: (
    360 *.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

// antialiasing mode font rendering

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}